{% load static %}
<h1>List</h1>
<table>
    <tr>
        <th>Titile </th>
        <th>Description</th>
        <th>year</th>
        <th>Edit/Delete</th>
    </tr>
    <tr>
        {% for movie_obj in movies %}
        <td>
            <h1>Titile : {{movie_obj.title}}</h1>
        </td>

        <!---- <img src="{% static 'images/' %}{{ obj.img }}" alt="Logo" width="100" length="100"> -->
        <td>
            <h2>Year : {{movie_obj.year}}</h2>
        </td>
        <td>
            <h2>Type : {{movie_obj.description}}</h2>
        </td>
        <td><a href="{% url 'edit' movie_obj.id %}">edit</a>/ <a href="{% url 'delete' movie_obj.id %}">delete</a></td>
    </tr>


    <!-- {% if obj.success %}
<p>Movie was success</p>
{% else %}
<p>Movie was not a success</p>
{% endif %} -->
    {% endfor %}
</table>